
.content{
    max-width: 450px;
    margin: auto;
}

.divider{
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.divider-title{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}

#login-input-form{
    display: flex;
    flex-direction: column;
}

#login-input-form label{
    font-weight: 600;
    margin-top: 20px;
}

#login-input-form .login-input-fields{
    height:40px;
}

#login-input-form


#login-input-form a{
    color: gray;
}

#login-input-form .pass-reset-link{
    color: gray;
    text-decoration: underline;
    margin-top: 40px;
}
#login-input-form .pass-reset-link:hover{
    color: green;
}



#login-input-form .row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.checkbox{
    display: flex;
    align-items: center;
}

.checkbox input{
    margin: 5px;
    height: 40px;
}
#login-input-form .login-input-submit-btn{
    border: none;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    width:210px;
    transition: 300ms ease-in-out;

}


#login-input-form .login-input-submit-btn:hover{
    background-color:rgb(114, 180, 114) ;
    transition: 300ms ease-in-out;
}

