                    .login-logo{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                    :root {
                       --light-green: #1ed760;
                   }
                   
                   .light-green-text {
                       color: var(--light-green);
                   }
                   
                   .login-wrapper {
                       max-width: 500px;
                       margin: 0 auto;
                   }
                   
                   footer p {
                       text-align: center;
                       font-size: 0.75rem;
                   }
                   
                   .btn1 {
                       font-size: 14px;
                       padding: 16px 14px 18px;
                   }
                   
                   .btn-facebook {
                       font-size: 14px;
                       min-width: 350px;
                       padding-top: 14px;
                       color: white;
                       background-color: #3b5998;
                   }
                   
                   .btn-apple {
                       font-size: 14px;
                       min-width: 350px;
                       padding-top: 14px;
                       color: white;
                       background-color: #000000;
                   }
                   
                   .facebookIcon {
                       color: #3b5998;
                   }
                   
                   .appleIcon {
                       color: white;
                   }

                   #login-with .login-with-items{
                    width: 100%;
                   }

                   #login-with .login-with-items a{
                       text-decoration: none;
                       color: #fff;
                       font-weight: 600;
                   }
.btn-signup {
    font-size: 14px;
    min-width: 350px;
    padding-top: 14px;
    color: #616467;
    background-color:white;
    border-radius: 25px;
    border: 2px solid #616467;
    
    
}

.btn-signup:hover{
    background-color:#616467 ;
    color: white;
}
