                         :root {
                            --light-green: #1ed760;
                        }
                        
                        .light-green-text {
                            color: var(--light-green);
                        }
                        
                        .login-wrapper {
                            max-width: 500px;
                            margin: 0 auto;
                        }
                        
                        footer p {
                            text-align: center;
                            font-size: 0.75rem;
                        }
                        
                        .btn1 {
                            font-size: 14px;
                            padding: 12px 14px 18px;
                            min-width: 350px;
                            padding-top: 14px;
                            color: white;
                            max-height: 80px;
                            letter-spacing: 0.2rem;
                        }
                        
                        .btn-facebook {
                            background-color: #3b5998;
                        }
                        
                        .btn-apple {
                            background-color: #000000;
                        }
                        
                        .facebookIcon {
                            color: #3b5998;
                        }
                        
                        .appleIcon {
                            color: white;
                        }