.profile-picture{
    /* width: 200px; */
    margin-top: 50px;
    /* margin-left: 25px; */
  }
  .label-name{
    margin-top: 70px;
    margin-left: 50px;
  }
  .form-control{
    background-color: var(--dark-black);
    border: none;
    outline: none;
  }
  .edit-info{

    margin-left: 10px;
  }
 