.profile-picture{
    /* width: 200px; */
    margin-top: 50px;
    /* margin-left: 25px; */
  }
  .label-name{
    margin-top: 70px;
    margin-left: 50px;
  }
  .form-control{
    background-color: black;
  }
  .edit-info{
    width: 150px;
    margin-top: 10px;
  }
  /* h1{
      margin-left: 200px;
      font-size: 30px;
  } */