.album-img-container .col-12{
  padding: 0;
}

.smaller-text {
  font-size: 0.85rem;
}

.album-action-icons i {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.album-action-icons i:first-child {
  font-size: 2.5rem;
  margin-left: 0;
}

.album-action-icons .bi {
  color: var(--light-gray);
}

.album-action-icons .bi-play-circle-fill {
  color: var(--light-green);
}

.divider {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.bg-wrapper {
  background: rgb(42, 42, 42);
  background: linear-gradient(
    0deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(42, 42, 42, 1) 48%,
    rgba(42, 42, 42, 1) 68%,
    rgba(104, 22, 76, 1) 100%,
    rgba(148, 8, 100, 1) 100%,
    rgba(148, 8, 100, 1) 100%
  );
}


#album-header-container{
  height: 250px;
  padding-top: 30px;
  transform: scaleY(1.2);
  background: rgb(102,23,75);
background: linear-gradient(0deg, rgba(102,23,75,1) 0%, rgba(148,36,116,1) 76%);
}

