.smaller-text {
  font-size: 0.85rem;
}

.album-action-icons i {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.album-action-icons i:first-child {
  font-size: 2.5rem;
  margin-left: 0;
}

.album-action-icons .bi {
  color: var(--light-gray);
}

.album-action-icons .bi-play-circle-fill {
  color: var(--light-green);
}
