.album-img-container .col-12 {
  padding: 0;
}

.divider {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.bg-wrapper {
  background: rgb(42, 42, 42);
  background: linear-gradient(
    0deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(42, 42, 42, 1) 48%,
    rgba(42, 42, 42, 1) 68%,
    rgba(104, 22, 76, 1) 100%,
    rgba(148, 8, 100, 1) 100%,
    rgba(148, 8, 100, 1) 100%
  );
}

#album-header-container {
  height: 250px;
  padding-top: 30px;
  transform: scaleY(1.2);
  background: rgb(102, 23, 75);
  background: linear-gradient(
    0deg,
    rgba(102, 23, 75, 1) 0%,
    rgba(148, 36, 116, 1) 76%
  );
}

.scroll-bar {
  max-height: 120vh;
}
